[buildout]
develop = .
parts = interpreter test
extends = http://grok.zope.org/releaseinfo/1.3.2/versions.cfg
versions = versions


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.site
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.site[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
