[buildout]                                                                                                                  
svn_url = http://tracker.trollfot.org/svn/projects/dolmen/dolmen.packages/
find-links =
    http://download.zope.org/distribution/.
    ${buildout:svn_url}dolmen.content#egg=dolmen.content
    ${buildout:svn_url}dolmen.app.content#egg=dolmen.app.content
    ${buildout:svn_url}dolmen.app.authentication#egg=dolmen.app.authentication
    ${buildout:svn_url}dolmen.relations#egg=dolmen.relations
    ${buildout:svn_url}dolmen.field#egg=dolmen.field
    ${buildout:svn_url}dolmen.imaging#egg=dolmen.imaging
    ${buildout:svn_url}dolmen.file#egg=dolmen.file
    ${buildout:svn_url}dolmen.blob#egg=dolmen.blob
    ${buildout:svn_url}dolmen.app.security#egg=dolmen.app.security
    ${buildout:svn_url}dolmen.app.layout#egg=dolmen.app.layout
    ${buildout:svn_url}megrok.layout#egg=megrok.layout
develop = .
parts = interpreter test i18n
extends = versions/versions.cfg
versions = versions


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.site
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.site
defaults = ['--tests-pattern', '^f?tests$', '-v', '--package=dolmen.app.site']


[i18n]
recipe = z3c.recipe.i18n:i18n
eggs = dolmen.app.site
domain = dolmen_site
output = dolmen/app/site/locales
zcml = 
